h1 {
  font-size: 40px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.weatherapp-wrapper {
  max-width: 600px;
  margin: auto;
}
.weather-app {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 10px solid #dadded;
  border-radius: 10px;
}
.codeby {
}

.weather-temperature img {
  margin-right: 10px;
  height: 100px;
  weight: 100px;
}

.weather-temperature small {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature strong {
  color: blue;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.2;
}
